.quill-editor .ql-container {
  background-color: #f9fafb;
  color: #111827;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.quill-editor .ql-toolbar {
  background-color: #f3f4f6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid #d1d5db;
}

.quill-editor .ql-editor {
  min-height: 200px;
  padding: 1rem;
}
